<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_BROADCAST">
  <!-- 对象定义:元数据列模式 -->
  <resultMap id="BaseResultMap" type="broadcast">
    <id     column="id"           property="id"            jdbcType="VARCHAR"/>
    <result column="bcTitle"      property="bcTitle"       jdbcType="VARCHAR"/>
    <result column="bcPubType"    property="bcPubType"     jdbcType="INTEGER"/>
    <result column="bcPubId"      property="bcPubId"       jdbcType="VARCHAR"/>
    <result column="bcPublisher"  property="bcPublisher"   jdbcType="VARCHAR"/>
    <result column="bcImg"        property="bcImg"         jdbcType="VARCHAR"/>
    <result column="bcURL"        property="bcURL"         jdbcType="VARCHAR"/>
    <result column="descn"        property="descn"         jdbcType="VARCHAR"/>
    <result column="pubCount"     property="pubCount"      jdbcType="INTEGER"/>
    <result column="cTime"        property="cTime"         jdbcType="TIMESTAMP"/>
  </resultMap>
  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, bcTitle, bcPubType, bcPubId, bcPublisher, bcImg, bcURL, descn, pubCount, cTime
  </sql>
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="bcTitle!=null"> and bcTitle=#{bcTitle,jdbcType=VARCHAR}</if>
        <if test="bcPubType!=null"> and bcPubType=#{bcPubType,jdbcType=INTEGER}</if>
        <if test="bcPubId"> and bcPubId=#{bcPubId,jdbcType=VARCHAR}</if>
        <if test="bcPublisher!=null"> and bcPublisher=#{bcPublisher,jdbcType=VARCHAR}</if>
        <if test="bcImg!=null"> and bcImg=#{bcImg,jdbcType=VARCHAR}</if>
        <if test="bcURL!=null"> and bcURL=#{bcURL,jdbcType=VARCHAR}</if>
        <if test="descn!=null"> and descn=#{descn,jdbcType=VARCHAR}</if>
        <if test="pubCount!=null"> and pubCount=#{pubCount,jdbcType=INTEGER}</if>
        <if test="cTime!=null"> and cTime=#{cTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>
  
  <!-- 获得列表 -->
  <select id="getBroadcastList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from wt_Broadcast
  </select>
  
  <insert id="insertList" parameterType="java.util.List">
    insert into wt_Broadcast(id,bcTitle,bcPubType,bcPubId,bcPublisher,bcImg,bcURL,descn,pubCount,cTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.bcTitle},#{list.bcPubType},#{list.bcPubId},#{list.bcPublisher},#{list.bcImg},#{list.bcURL},#{list.descn},#{list.pubCount},#{list.cTime})
    </foreach>
  </insert>
  
  <update id="updateList" parameterType="java.util.List">
      <foreach collection="list" item="list" index="index" open="" close="" separator=";">
        update wt_Broadcast
        <set>
        bcImg=${list.bcImg},bcURL=${list.bcURL},descn=${list.descn},cTime=${list.cTime}
        </set>
        where id = ${list.id}
      </foreach>
  </update>
</mapper>