<?xml version="1.0" encoding="UTF-8" ?>

<!--
  字典组
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_DMASTER">
  <!-- 对象定义:元数据列模式 -->
  <resultMap id="BaseResultMap" type="dictMaster">
    <id     column="id"         property="id"         jdbcType="VARCHAR"/>
    <result column="ownerId"    property="ownerId"    jdbcType="VARCHAR"/>
    <result column="ownerType"  property="ownerType"  jdbcType="VARCHAR"/>
    <result column="dmName"     property="dmName"     jdbcType="VARCHAR"/>
    <result column="nPy"        property="NPy"        jdbcType="VARCHAR"/>
    <result column="sort"       property="sort"       jdbcType="INTEGER"/>
    <result column="isValidate" property="isValidate" jdbcType="INTEGER"/>
    <result column="mType"      property="MType"      jdbcType="INTEGER"/>
    <result column="mRef"       property="MRef"       jdbcType="VARCHAR"/>
    <result column="descn"      property="desc"       jdbcType="VARCHAR"/>
    <result column="cTime"      property="CTime"      jdbcType="TIMESTAMP"/>
    <result column="lmTime"     property="lmTime"     jdbcType="TIMESTAMP"/>
  </resultMap>
  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, ownerId, ownerType, dmName, nPy, sort, isValidate, mType, mRef, descn, cTime, lmTime
  </sql>
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="ownerId!=null"> and ownerId=#{ownerId,jdbcType=VARCHAR}</if>
        <if test="ownerType!=null"> and ownerType=#{ownerType,jdbcType=INTEGER}</if>
        <if test="dmName!=null"> and dmName=#{dmName,jdbcType=VARCHAR}</if>
        <if test="NPy!=null"> and nPy=#{NPy,jdbcType=VARCHAR}</if>
        <if test="sort!=null and sort!=0"> and sort=#{sort,jdbcType=INTEGER}</if>
        <if test="isValidate!=null and isValidate!=0"> and isValidate=#{isValidate,jdbcType=INTEGER}</if>
        <if test="MType!=null and MType!=0"> and mType=#{MType,jdbcType=INTEGER}</if>
        <if test="MRef!=null"> and mRef=#{MRef,jdbcType=VARCHAR}</if>
        <if test="desc!=null"> and descn=#{desc,jdbcType=VARCHAR}</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
        <if test="lmTime!=null"> and lmTime=#{lmTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>
  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from plat_DictM <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_DictM
    <if test="_parameter!=null">
      <include refid="WhereClauseByEntiey"/>
      <if test="sortByClause!=null">order by ${sortByClause}</if>
    </if>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_DictM
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from plat_DictM where id=#{id,jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into plat_DictM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="ownerId!=null">ownerId,</if>
      <if test="ownerType!=null and ownerType!=0">ownerType,</if>
      <if test="dmName!=null">dmName,</if>
      <if test="NPy!=null">nPy,</if>
      <if test="sort!=null and sort!=0">sort,</if>
      <if test="isValidate!=null and isValidate!=0">isValidate,</if>
      <if test="MType!=null and MType!=0">mType,</if>
      <if test="MRef!=null">mRef,</if>
      <if test="desc!=null">descn,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="ownerId!=null">#{ownerId,jdbcType=VARCHAR},</if>
      <if test="ownerType!=null and ownerType!=0">#{ownerType,jdbcType=VARCHAR},</if>
      <if test="dmName!=null">#{dmName,jdbcType=VARCHAR},</if>
      <if test="NPy!=null">#{NPy,jdbcType=VARCHAR},</if>
      <if test="sort!=null and sort!=0">#{sort,jdbcType=INTEGER},</if>
      <if test="isValidate!=null and isValidate!=0">#{isValidate,jdbcType=INTEGER},</if>
      <if test="MType!=null and MType!=0">#{MType,jdbcType=INTEGER},</if>
      <if test="MRef!=null">#{MRef,jdbcType=VARCHAR},</if>
      <if test="desc!=null">#{desc,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  <!-- 新增数据 -->
  <insert id="tempXMLY" parameterType="java.util.Map">
    insert into XMLY_Temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="URL!=null">url,</if>
      <if test="ParentURL!=null">parUrl,</if>
      <if test="Type!=null">type,</if>
      <if test="Time!=null">time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="URL!=null">#{URL,jdbcType=VARCHAR},</if>
      <if test="ParentURL!=null">#{ParentURL,jdbcType=VARCHAR},</if>
      <if test="Type!=null">#{Type,jdbcType=VARCHAR},</if>
      <if test="Time!=null">#{Time,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键 -->
  <update id="update" parameterType="java.util.Map">
    update plat_DictM
    <set>
      <if test="ownerId!=null">ownerId=#{ownerId,jdbcType=VARCHAR},</if>
      <if test="ownerType!=null and ownerType!=0">ownerType=#{ownerType,jdbcType=VARCHAR},</if>
      <if test="dmName!=null">dmName=#{dmName,jdbcType=VARCHAR},</if>
      <if test="NPy!=null">nPy=#{NPy,jdbcType=VARCHAR},</if>
      <if test="sort!=null and sort!=0">sort=#{sort,jdbcType=INTEGER},</if>
      <if test="isValidate!=null and isValidate!=0">isValidate=#{isValidate,jdbcType=INTEGER},</if>
      <if test="MType!=null and MType!=0">mType=#{MType,jdbcType=INTEGER},</if>
      <if test="MRef!=null">mRef=#{MRef,jdbcType=VARCHAR},</if>
      <if test="desc!=null">descn=#{desc,jdbcType=VARCHAR},</if>
      <if test="CTime!=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
      <if test="lmTime!=null">lmTime=#{lmTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from plat_DictM where id=#{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from plat_DictM <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
</mapper>