<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_CATAGORY">
  <!-- 对象定义:元数据列模式 -->
  <resultMap id="BaseResultMap" type="catagory">
    <id     column="id"           property="id"            jdbcType="VARCHAR"/>
    <result column="srcId"        property="srcId"         jdbcType="VARCHAR"/>
    <result column="publisher"    property="publisher"     jdbcType="VARCHAR"/>
    <result column="catagoryName" property="catagoryName"  jdbcType="VARCHAR"/>
    <result column="catagoryURL"  property="catagoryURL"   jdbcType="VARCHAR"/>
    <result column="cTime"        property="cTime"         jdbcType="TIMESTAMP"/>
  </resultMap>
  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, srcId, publisher, catagoryName, catagoryURL, cTime
  </sql>
   <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="srcId!=null"> and srcId=#{srcId,jdbcType=VARCHAR}</if>
        <if test="publisher!=null"> and publisher=#{publisher,jdbcType=VARCHAR}</if>
        <if test="catagoryName!=null"> and catagoryName=#{catagoryName,jdbcType=VARCHAR}</if>
        <if test="catagoryURL!=null"> and catagoryURL=#{catagoryURL,jdbcType=VARCHAR}</if>
        <if test="cTime!=null"> and cTime=#{cTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>
  
  <!-- 获得列表 -->
  <select id="getList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from CHCatagory
  </select>
  
  <!-- 获得列表 -->
  <select id="getCatagoryListByPublisher" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from CHCatagory where publisher=#{publisher,jdbcType=VARCHAR}
  </select>
  
</mapper>